#!/usr/bin/env bash
#version=v1.0.0

##############################################
### NTMseq configuration
##############################################
# This config file is mandatory.
#NTMseq is for Research use only!

##############################################
### Input / Output - REQUIRED
##############################################

# Path to the folder containing the NTMseq  scripts
PATH_scripts="/path/to/NTMseq/scripts"

# Path to folder containing input FastQ files
PATH_fastQ="/path/to/FastQ"
#Note: Output folders and result files are named using only the first part of the FASTQ filename (before the first "_"). If your filenames contain multiple "_" and you want to retain more information, please rename them (e.g. using mmv).

# Path to folder where results will be written
PATH_output="/path/to/NTMseq/Results"

##############################################################
### Species / genome / assembly settings - Can be left default 
##############################################################

# Species name used by selected downstream analyses (if you don´t know the NTM or have multiple NTM, leave at Mycobacteroides abscessus"
species="Mycobacteroides abscessus"

# Expected genome size in Mbp format only (Examples: 5M, 5.1M)
genome_size="5.1M"

# Assembly mode
ass="skesa"

##############################################
### Analysis switches
##############################################
# Allowed values: Yes or No

#Quality control FastQ files
Do_multiqc="Yes"

#Subsampling of high-coverage reads
Do_subsampling="Yes"
cov=100 # Coverage to which samples will be downsampled

#FastQ preprocessing (e.g. adapter trimming, removal of low quality bases)
Do_fastp="Yes"

#Contamination detection (Requires path to databases to be specified at bottom of this config!!)
Do_kraken2="Yes"

#NTM species and resistance detection
Do_NTMprofiler="Yes"
#Database required, see https://github.com/ngs-fzb/NTMseq and set path to database below!!

#M. abscessus MLST typing
Do_MLST_fastQ="Yes"

#Assembly with shovill (includes downsampling to cov 100x and adapter trimming)
Do_assembly="Yes"

#Check average nucleotide identity between your sequence and a reference or between all your sequences
Do_fastANI="No" #Against one reference, which needs to be specified in the "databases" section of this config
Do_fastANI_AllagainstAll="Yes"

#Make a quick and dirty phylogenetic tree without bootstrap
Do_mash_fastQ="Yes"
Do_mash_fastA="Yes"

#Do plasmid analysis (Requires path to databases to be specified at bottom of this config except for plasmidspades!!)
Do_SRST2_customDB="Yes"
#Database required, see https://github.com/ngs-fzb/NTMseq and set path to database below!!
Do_platon="Yes"
#Database required, see https://github.com/ngs-fzb/NTMseq and set path to database below!!
Do_plasmidspades="Yes"

#Do resistance gene detection
Do_amrfinder="Yes"
#Database required, see https://github.com/ngs-fzb/NTMseq and set path to database below!!

#Do virulence detection with abricate (based on vfdb)
Do_abricate="Yes"

##############################################
### General settings - Can be left default
##############################################

# Number of CPUs
cpu=8 #Note: To check available resources: $nproc; $(lscpu | grep -E '^CPU\(' | awk '{print $(NF)}') would use all available threads. Not recommended on shared resources with more than 16 CPU/threads. 

# Temporary directory (where temporary files are generared by some tools. Needs to have enough space!)
PATH_tmp="$HOME/tmp"

# Read suffixes
# Leave BOTH empty for auto-detection from FASTQ filenames.
# Or set both manually, e.g.: Fw="_R1" and Rv="_R2" or Fw="_R1_001" and # Rv="_R2_001"
Fw=""
Rv=""

#############################################################################################
### Conda environment names - Can be left default if installed with Installation_NTMseq.sh
#############################################################################################
# Only required if the corresponding module is set to Yes.

conda_env_multiqc="NTMseq_multiqc"
conda_env_seqkit="NTMseq_seqkit"
conda_env_fastp="NTMseq_fastp"
conda_env_fastANI="NTMseq_fastani"
conda_env_kraken2="NTMseq_kraken2" 
conda_env_SRST2="NTMseq_srst2"
conda_env_NTMprofiler="NTMseq_NTMprofiler" 
conda_env_shovill="NTMseq_shovill"
conda_env_mashtree="NTMseq_mashtree"
conda_env_AMRfinder="NTMseq_amrfinder" 
conda_env_abricate="NTMseq_abricate" 
conda_env_spades="NTMseq_spades" 
conda_env_platon="NTMseq_platon"

##############################################
### Databases
##############################################
# Only required if the corresponding module is set to Yes.

##Contamination detection
db_kraken2="/path/to/kraken2-db"
db_krona="/path/to/krona-db/Taxonomy"

##plasmid detection
db_custom_SRST2="NTMseq-main/db/2023_11_03_v2_PLSDB_mycobacteriaceae_208plasmids.fasta"

db_platon="/path/to/platon-db"

##Resistance gene detection
db_AMRfinder="/path/to/AMRfinder-db"

##Average nucleotide identity calculation
fastANI_ref=""

##Database for abricate (e.g. "vfdb" for virulence)
db_abricate="vfdb"

#Database for pubMLST - this database will be automatically downloaded in the folder you specify below
db_MLST_SRST2="/path/to/pubmlst_Mab"

